App_WebReferences/SalesWebRef/Sales.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SalesHouseholdInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authentication" type="tns:AuthenticationClass" />
            <s:element minOccurs="0" maxOccurs="1" name="refNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ballotQuarter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="householdType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="allocationMode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="allocationScheme" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="eligibilityScheme" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="householdIncome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="flatType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AHGStatus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SHGStatus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loanTag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bookedAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="flatDesign" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contactNumbers" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="affectedSERS" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="acceptanceDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="forwardedDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="refreshHouseholdStructure" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="personals" type="tns:ArrayOfPersonal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AuthenticationClass">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPersonal">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Personal" nillable="true" type="tns:Personal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Personal">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsDeletion" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonalType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMainApplicant" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Nric" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MaritalStatus" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateOfBirth" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Relationship" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Citizenship" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmploymentStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Income" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMCPS" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPPO" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="NRICSOC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NameSOC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Documents" type="tns:ArrayOfDocument" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDocument">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Document" nillable="true" type="tns:Document" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Document">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DocumentTypeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentTypeSubCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Category" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CategoryGroup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CategoryDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SalesHouseholdInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SalesHouseholdInfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SalesHouseholdInfoSoapIn">
    <wsdl:part name="parameters" element="tns:SalesHouseholdInfo" />
  </wsdl:message>
  <wsdl:message name="SalesHouseholdInfoSoapOut">
    <wsdl:part name="parameters" element="tns:SalesHouseholdInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="SalesSoap">
    <wsdl:operation name="SalesHouseholdInfo">
      <wsdl:input message="tns:SalesHouseholdInfoSoapIn" />
      <wsdl:output message="tns:SalesHouseholdInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SalesHttpGet" />
  <wsdl:portType name="SalesHttpPost" />
  <wsdl:binding name="SalesSoap" type="tns:SalesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SalesHouseholdInfo">
      <soap:operation soapAction="http://tempuri.org/SalesHouseholdInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SalesSoap12" type="tns:SalesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SalesHouseholdInfo">
      <soap12:operation soapAction="http://tempuri.org/SalesHouseholdInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SalesHttpGet" type="tns:SalesHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="SalesHttpPost" type="tns:SalesHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="Sales">
    <wsdl:port name="SalesSoap" binding="tns:SalesSoap">
      <soap:address location="http://heasq2/GO-DWMS/WebServices/Sales.asmx" />
    </wsdl:port>
    <wsdl:port name="SalesSoap12" binding="tns:SalesSoap12">
      <soap12:address location="http://heasq2/GO-DWMS/WebServices/Sales.asmx" />
    </wsdl:port>
    <wsdl:port name="SalesHttpGet" binding="tns:SalesHttpGet">
      <http:address location="http://heasq2/GO-DWMS/WebServices/Sales.asmx" />
    </wsdl:port>
    <wsdl:port name="SalesHttpPost" binding="tns:SalesHttpPost">
      <http:address location="http://heasq2/GO-DWMS/WebServices/Sales.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>