App_WebReferences/SersWebRef/Sers.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SersHouseholdInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authentication" type="tns:AuthenticationClass" />
            <s:element minOccurs="0" maxOccurs="1" name="refNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="registrationNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="block" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="street" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="level" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="unitNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="postalCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="allocationScheme" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="eligibilityScheme" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="refreshHouseholdStructure" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="personals" type="tns:ArrayOfPersonal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AuthenticationClass">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPersonal">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Personal" nillable="true" type="tns:Personal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Personal">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsDeletion" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonalType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMainApplicant" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Nric" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MaritalStatus" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateOfBirth" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Relationship" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Citizenship" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrivatePropertyOwner" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Documents" type="tns:ArrayOfDocument" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDocument">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Document" nillable="true" type="tns:Document" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Document">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DocumentTypeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentTypeSubCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Category" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CategoryGroup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CategoryDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SersHouseholdInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SersHouseholdInfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SersHouseholdInfoSoapIn">
    <wsdl:part name="parameters" element="tns:SersHouseholdInfo" />
  </wsdl:message>
  <wsdl:message name="SersHouseholdInfoSoapOut">
    <wsdl:part name="parameters" element="tns:SersHouseholdInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="SersSoap">
    <wsdl:operation name="SersHouseholdInfo">
      <wsdl:input message="tns:SersHouseholdInfoSoapIn" />
      <wsdl:output message="tns:SersHouseholdInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SersHttpGet" />
  <wsdl:portType name="SersHttpPost" />
  <wsdl:binding name="SersSoap" type="tns:SersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SersHouseholdInfo">
      <soap:operation soapAction="http://tempuri.org/SersHouseholdInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SersSoap12" type="tns:SersSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SersHouseholdInfo">
      <soap12:operation soapAction="http://tempuri.org/SersHouseholdInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SersHttpGet" type="tns:SersHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="SersHttpPost" type="tns:SersHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="Sers">
    <wsdl:port name="SersSoap" binding="tns:SersSoap">
      <soap:address location="http://heasq2/GO-DWMS/WebServices/Sers.asmx" />
    </wsdl:port>
    <wsdl:port name="SersSoap12" binding="tns:SersSoap12">
      <soap12:address location="http://heasq2/GO-DWMS/WebServices/Sers.asmx" />
    </wsdl:port>
    <wsdl:port name="SersHttpGet" binding="tns:SersHttpGet">
      <http:address location="http://heasq2/GO-DWMS/WebServices/Sers.asmx" />
    </wsdl:port>
    <wsdl:port name="SersHttpPost" binding="tns:SersHttpPost">
      <http:address location="http://heasq2/GO-DWMS/WebServices/Sers.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>