App_WebReferences/TestWebSvcRef/TestWebSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://tempuri.org/AbstractTypes" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ValidateHle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hleNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateHleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateHleResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numbers" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SumResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="int" type="s:int" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateHleSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateHle" />
  </wsdl:message>
  <wsdl:message name="ValidateHleSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateHleResponse" />
  </wsdl:message>
  <wsdl:message name="SumSoapIn">
    <wsdl:part name="parameters" element="tns:Sum" />
  </wsdl:message>
  <wsdl:message name="SumSoapOut">
    <wsdl:part name="parameters" element="tns:SumResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateHleHttpGetIn">
    <wsdl:part name="hleNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateHleHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="SumHttpGetIn">
    <wsdl:part name="numbers" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="SumHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ValidateHleHttpPostIn">
    <wsdl:part name="hleNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateHleHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="SumHttpPostIn">
    <wsdl:part name="numbers" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="SumHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="TestWebSvcSoap">
    <wsdl:operation name="ValidateHle">
      <wsdl:input message="tns:ValidateHleSoapIn" />
      <wsdl:output message="tns:ValidateHleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <wsdl:input message="tns:SumSoapIn" />
      <wsdl:output message="tns:SumSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TestWebSvcHttpGet">
    <wsdl:operation name="ValidateHle">
      <wsdl:input message="tns:ValidateHleHttpGetIn" />
      <wsdl:output message="tns:ValidateHleHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <wsdl:input message="tns:SumHttpGetIn" />
      <wsdl:output message="tns:SumHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TestWebSvcHttpPost">
    <wsdl:operation name="ValidateHle">
      <wsdl:input message="tns:ValidateHleHttpPostIn" />
      <wsdl:output message="tns:ValidateHleHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <wsdl:input message="tns:SumHttpPostIn" />
      <wsdl:output message="tns:SumHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestWebSvcSoap" type="tns:TestWebSvcSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateHle">
      <soap:operation soapAction="http://tempuri.org/ValidateHle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <soap:operation soapAction="http://tempuri.org/Sum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TestWebSvcSoap12" type="tns:TestWebSvcSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateHle">
      <soap12:operation soapAction="http://tempuri.org/ValidateHle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <soap12:operation soapAction="http://tempuri.org/Sum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TestWebSvcHttpGet" type="tns:TestWebSvcHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ValidateHle">
      <http:operation location="/ValidateHle" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <http:operation location="/Sum" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TestWebSvcHttpPost" type="tns:TestWebSvcHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ValidateHle">
      <http:operation location="/ValidateHle" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <http:operation location="/Sum" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestWebSvc">
    <wsdl:port name="TestWebSvcSoap" binding="tns:TestWebSvcSoap">
      <soap:address location="http://hiend-server001/dwms/test/webservices/TestWebSvc.asmx" />
    </wsdl:port>
    <wsdl:port name="TestWebSvcSoap12" binding="tns:TestWebSvcSoap12">
      <soap12:address location="http://hiend-server001/dwms/test/webservices/TestWebSvc.asmx" />
    </wsdl:port>
    <wsdl:port name="TestWebSvcHttpGet" binding="tns:TestWebSvcHttpGet">
      <http:address location="http://hiend-server001/dwms/test/webservices/TestWebSvc.asmx" />
    </wsdl:port>
    <wsdl:port name="TestWebSvcHttpPost" binding="tns:TestWebSvcHttpPost">
      <http:address location="http://hiend-server001/dwms/test/webservices/TestWebSvc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>